/*
Theme Name: Zerif Lite Child
Theme URI: http://www.spatial-ecology.net/try/themes/zerif-lite-child/
Description: Zerif-lite Child Theme
Author: Victoria O'BRIEN
Template: zerif-lite
Text Domain: zerif-lite-child
*/


